@import "src/scss/variables";
@import "src/scss/mixin";

.Layout {
  &__content {
    padding: $padding-xl;

    @include md {
      padding: $padding-md;
    }

    @include sm {
      padding: $padding-sm;
    }
  }
}
