@import "src/scss/variables";

.CurrencyInput {
  display: flex;
  flex: 1;

  &__modal {
    & .ant-modal-footer {
      display: none;
    }
  }

  &__currency {
    &.ant-btn {
      margin-right: 8px;
      padding: 0;
      color: $color-primary;
    }

    &--dropdown {
      margin-left: 8px;
    }

    &--logo {
      width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}