@import "src/scss/variables";
@import "src/scss/mixin";

.CurrencyFieldArray {
  &.ant-col {
    max-width: 310px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include md {
      max-width: unset;
    }
  }

  &__form-item {
    & .ant-form-item-control-input-content {
      display: flex;
      align-items: center;
    }
  }

  &__remove-btn {
    &.ant-btn {
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}