@import "src/scss/variables";

.CurrencyFieldArray {
  &.ant-col {
    max-width: 310px;
    flex: 1;
  }

  &__form-item {
    & .ant-form-item-control-input-content {
      display: flex;
      align-items: center;
    }
  }

  &__remove-btn {
    &.ant-btn {
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}