@import "src/scss/variables";
@import "src/scss/mixin";

.ExchangeForm {
  &__form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 36px;

    @include md {
      flex-direction: column;
    }
  }

  &__switch-button {
    align-self: center;

    &.ant-btn {
      margin: 0 16px;

      @include md {
        margin: 16px 0;
      }
    }
  }
}