// layout
$padding-xl: 32px;
$padding-lg: 24px;
$padding-md: 16px;
$padding-sm: 12px;
$padding-xs: 8px;

$screen-xl: 12px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 480px;

// palette
$white: #fff;
$gray-1: #f8f9fa;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #6c757d;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #1f1f1f;
$black: #000;

$color-primary: #1DA57A;

$element-bg: #1f1f1f;